/* universal selector */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration:none;
}

body{
    min-height:100vh;
    overflow-x: hidden;
}

/* What is Climate */
/* about container */
.climate-container{
    background-color:#042d29;
    padding:4rem;
    width:100%;
}

.title h1{
    color:#fff;
    font-size: 46px;
    font-weight: 700;
    text-transform:uppercase;
    text-align: center;
    padding:40px 0px;
}
.climate{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:50px;
    padding:0px 80px;
}

.img-section{
    width:90%;
    height:auto;
    margin:auto;
}
.img-section img{
    height:300px;
    width:350px;
    border-radius: 5%;
    border:1px solid #fff;
    display:block;
    margin:auto;
}
article{
    width:90%;
    text-align: justify;
}
article h3{
    font-size: 22px;
    font-weight:500;
    color: #7d7d7d;
}
article p{
    font-size: 17px;
    color: #fff;
    margin-top:25px;
}

article .button{
    margin-top:35px;
}

article a{
    color:#fff;
    padding:10px 25px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid #f3be00;
    border-radius:5px
}
article a:hover{
    background-color: #f3be00;
    transition:0.5s ease;
}

@media screen and (max-width: 1150px){
    .img-section{
        margin-right: 2em;
    }
}

@media screen and (max-width: 965px)
{
    .climate-container{
        margin-top: 15px; 
    }  
    .title h1{
        font-size:28px;
        text-align: center;
        margin-top: 2em;
    }
    .img-section img{
       height:200px;
       width:250px;
    }
    .climate{
        flex-direction:column;
        margin-top:10px;
        padding:1%;
    }
    article{
        margin-top: 30px;
    }
    article h3{
        font-size:18px;
    }
    article p{
        font-size:15px;
    }
    article .button{
        margin-bottom:50px;
    }
    article a{
        padding:8px 20px;
        font-size: 17px;
    }
}
 
@media screen and (max-width:500px){
    .climate-container{
        padding: 0.1rem;
    }
    .img-section img{
        height:150px;
        width:150px;
     }
}
/* Climate change */
.info,small{
    color:#8f8f8f
}

.info{
    font-size: 0.9em;
    line-height: 23px;
    text-align: justify;
}

.skewed h1{
    margin: 0;
}
.skewed{
    width:100%;
    color:#f1f1f1;
    display:flex;
    background: #111;
    margin:2em 0;
    box-shadow:0 0 15px rgba(0,0,0,0.7) ;
}

.text{
    padding:1.5em;
    width:50%;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.skewed a{
    color:#fff;
    text-decoration: none;
}
.skewed a:hover{
    color: #f3be00;
    transition:0.5s ease;
}

@media screen and (max-width: 965px){
    .skewed .button{
        margin-bottom:50px;
    }

}

.image{
    width: 50%;
    height:25em;
    position: relative;
    overflow: hidden;
}
.image img{
    height: 100%;
}
.image::before{
    content:'';
    position: absolute;
    left:-6.1em;
    top:50%;
    transform: translatey(-50%) rotate(20deg);
    background: #111;
    width:40%;
    height: 140%;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.skewed-left .image::before{
    transform: translateY(-50%) rotate(-20deg);
    left: initial;
    right:-6.1em;
}

.skewed img{
    width:140%;
}

@media screen and (max-width:750px) {
    .skewed{
        display: block;
        width:100%;
    }
    .image,.text{
        width: 100%;
    }
    .image{
        height: 20em;
    }
    .skewed img{
        width: 160%;
    }
    .skewed .image::before{
        width: 120%;
        height: 40%;
        top:-5em;
        left:50%;
        transform: translatex(-50%) rotate(10deg);
    }
    .skewed-left .image::before{
        transform: translateX(-50%) rotate(-10deg);
        top:initial;
        bottom: -5em;
    }
}

/* Carousel */
.title-2 h1{
    color: #042d29;
}

.carousel-img{
    height:26em;
}