/* universal selector */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration:none;
}

/* color variables */
:root{
    --dark-green:#468585;
    --green:#50B498;
    --light-green:#9CDBA6;
    --lightest-green:#DEF9C4;
}

body{
    min-height:100vh;
    overflow-x: hidden;
}


/* image section css */
.image-section{
    background-image: url(images/gr.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    width:100%;
}
.image-section:before{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100vh;
}
.image-section .container{
    height:100vh;
    z-index:1;
    position:relative;
}
.image-section h1{
    font-size: 1.5em;
}
.image-section h2{
    font-size: 1.2em;
}

/* container-image heading */
.image-heading{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style:normal;
    margin-top:2rem;
    text-align: center;
    color:#035740;
    letter-spacing: 0.5rem;
    font-size:3rem;
    /* border-right: 5px solid; */
    width:100%;
    white-space:nowrap;
    overflow: hidden;
    animation: typing 3s steps(17);
    /* cursor .4s step-end infinite alternate; */
}
/* Cursor blinking */
/* @keyframes cursor {
    50% { border-color:transparent }
} */
 
/* typing effect */
@keyframes typing{
    from{ width:0}
}

/* container images */
.container-image{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:100px 50px;
    padding:100px 50px;
}
.container-image .card-image{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width:350px;
    height:300px;
    background:#fff;
    border-radius:20px;
    box-shadow:0 25px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.container-image .card-image:hover{
    height:400px;
}
.container-image .card-image .imgBx{
    position: absolute;
    top:20px;
    border-radius:12px;
    overflow:hidden;
    width:300px;
    height: 220px;
    background:#333;
    transition: 0.5s;
}
.container-image .card-image:hover .imgBx{
    top:-100px;
    scale:0.75;
    box-shadow:0 15px 45px rgba(0,0,0,0.2);
}
.container-image .card-image .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.container-image .card-image .content{
    position:absolute;
    top:252px;
    width:100%;
    padding:0 30px;
    height:35px;
    overflow: hidden;
    text-align: center;
    transition:0.5s;
}
.container-image .card-image:hover .content{
    top:130px;
    height:250px;  
    overflow-y:scroll;
}
.container-image .card-image .content h2{
    font-size:1.5em;
    font-weight:700;
    color:#009970;
}
.container-image .card-image .content p{
    color:#333;
}
.container-image .card-image .content a{
    position:relative;
    top:15px;
    display: inline-block;
    padding:12px 25px;
    background-color:#009970;
    color:white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}




